#container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 15px);
    grid-template-columns: repeat(var(--grid-columns), 15px);
}

.grid-square {
    border: 1px solid #ddd;
    justify-content: center;
}

#top-headline {
    display: flex;
    align-items: center;
    justify-content: center;
}