body {
    text-align: center;
    font-family: impact;
    background: #f00;
    color: #000;
    box-sizing: border-box;
}

label {
    font-weight: 700;
}

input {
    border: 1px solid #000;
}

button {
    background-color: #303134;
    border: 1px solid c;
    color: #e8eaed;
    font-size: 15px;
    margin: 10px 5px;
    padding: 0 15px;
    height: 30px;
    text-align: center;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background-color: #222323;
    border: 1px solid #222323;
    color: #ddd;
}

#container {
    display: inline-grid;
    grid-template-rows: repeat(16, 2fr);
    grid-template-columns: repeat(16, 2fr);
    height: 550px;
    width: 550px;
    border: 10px solid #000;
    margin: 25px 45px;
}

.grid-square {
    border: 1px solid #ddd;
    background-color: #fff;
    justify-content: center;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type='number'] {
    -moz-appearance: textfield;
}